* {
  box-sizing: border-box;
  margin: 0;
}

body {
    background-image:url("./math-bg.webp");
    display: flex;
    align-items: center;
    height: 100vh;
}

.calculator {
  background-color: #e4e4e4ce;
  padding: 20px;
  width: 400px;
  max-width: 500px;
  margin: 0 auto;
  border: solid 1px #575757c9;
  box-shadow: 0 2px 5px rgba(160, 160, 160, 0.603);
  border-radius: 5px;
  margin-top: 40px;
}

#result{
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    border-radius: 5px;
    background-color: #252525a6;
    color: #f0eeee;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

button{
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.568);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.number:hover{
    background-color: #d1d1d1;
}

.decimal:hover{
    background-color: #bebebe;
}

.clear{
    background-color: #c71209;
    color: #fff;
}

.clear:hover{
    background-color: #ac0e05;
}

.number, .decimal{
    background-color: #fff;
    color: #333;
}

.operator{
    background-color: #114e83;
    color: #fff;
}

.operator:hover{
    background-color: #0b3f6d;
}

.equals{
    background-color: #047234;
    grid-row: span 3;
    color: #fff;
}

.equals:hover{
    background-color: #035828;
}